h3 Flora Example Running
.text
  p Grats, it's working.
  p But there is no main.coffee file in the root of your project.
  p Either create one from scratch, or copy the entire example directory and work from there.