html
  height: 100%
  background-image: url('../images/dirt.png'), radial-gradient(ellipse 200% 100% at 50% 100%, rgba(32,32,32,1.0), rgba(48,48,52,1.0))
  font-family: sans-serif
  color: rgba(128,128,128,1.0)
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5)

.messagebox
  position: relative
  top: 120px
  width: 480px  
  margin: 0px auto
  border: solid 2px rgba(255,255,255,0.5)
  border-radius: 16px
  box-shadow: 2px 2px 12px rgba(0,0,0,0.5)
  background-color: rgba(0,0,0,0.2)


  h3
    margin: 8px
    text-align: center

  .text
    margin: 8px
    font-size: 14px