h3 Websocket tester
.form
  .frame
    input.js-channel.channel(type="text", placeholder="echo", value="echo")
    input.js-data.data(type="text", placeholder="...")
  input.send.js-send(type="button", value="Send")

.frames.js-frames
