h3 Websocket tester
.form
  .frame
    input.js-channel.channel(type="text", placeholder="echo", value="echo")
    input.js-data.data(type="text", placeholder="...")
  .send.js-send Send

.frames.js-frames
